body {
    background-color:aquamarine;
    font-family: georgia;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    }
img {
    border-radius: 20pt;
    filter: opacity(85%);
    }
img:hover {
    filter: none;
    }